* {
    scroll-behavior: smooth;
}

.ContentContainer {
    padding-top: 80px;
    background: url('../../assets/images/Besuchsbedingungen/besuchsbedingungen.jpg');
    background-size: cover;
    height: 940px;
}

.CContainerWhite {
    padding-top: 80px;
    background-color: rgb(235, 235, 235);
    height: max-content;
    padding-bottom: 50px;
}


#headTitle {
    margin-top: 10%;
    text-align: center;
    font-size: 40px;
}

.content {
    align-items: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    width: 100%;
    min-width: 460px;
}

.paragraph {
    color: black;
    margin-left: 30px;
    margin-top: 30px;
}

.textarea {
    width: 900px;
    margin-top: 30px;
    font-size: 20px;
    color: black;
    letter-spacing: 1.5px;
    margin-left: 30px;
}


@media screen and (max-width: 940px)
{
    .textarea {
        max-width: 600px;
    }
}

@media screen and (max-width: 650px)
{
    .textarea {
        max-width: 500px;
    }
}

@media screen and (max-width: 540px)
{
    .textarea {
        max-width: 350px;
    }
}

@media screen and (max-width: 400px)
{
    .textarea {
        max-width: 200px;
    }
}

.einfuehrung {
    font-size: 30px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 90px;
    position: relative;
}

@media screen and (max-width: 459px)
{
    .einfuehrung {
        font-size: 20px;
    }
}

i {
    color: red;
}


#goBack {
    font-size: 50px;
    position: fixed;
    right: 0;
    top: 50%;
    cursor: pointer;
    display: flex;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.bounce-5 {
    animation-name: bounce-5;
    animation-timing-function: ease;
}
@keyframes bounce-5 {
    0%   { transform: scale(1,1) rotate(180deg)   translateY(0); }
    10%  { transform: scale(1.1,.9) rotate(180deg) translateY(0); }
    30%  { transform: scale(.9,1.1) rotate(180deg) translateY(60px); }
    50%  { transform: scale(1,1)  rotate(180deg)  translateY(0); }
    57%  { transform: scale(1,1)  rotate(180deg)  translateY(7px); }
    64%  { transform: scale(1,1)  rotate(180deg)  translateY(0); }
    100% { transform: scale(1,1)  rotate(180deg)  translateY(0); }
}